*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.signupbox {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.img{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.signup-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.img img{
	width: 400px;
}

form{
	width: 360px;
}
.wrapper{
  display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}
  .wrapper .title{
    color: #333;
    line-height: 65px;
    text-align: center;
  }
  .wrapper .box label{
    display: flex;
    height: 53px;
    width: 100%;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 50px;
    margin: 10px 0;
    padding-left: 20px;
    cursor: default;
    transition: all 0.3s ease;
  }
  #Account-Type1:checked ~ .Account-Type1,
  #Account-Type2:checked ~ .Account-Type2{
    background: #fac69e;
    border-color: #fac69e;
  }
  .wrapper .box label .dot{
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
    transition: all 0.3s ease;
  }
  #Account-Type1:checked ~ .Account-Type1 .dot,
  #Account-Type2:checked ~ .Account-Type2 .dot{
    background: #fff;
  }
  .box label .dot::before{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    width: 9px;
    height: 9px;
    border-radius: 50%;
    transition: all 0.3s ease;
  }
  #Account-Type1:checked ~ .Account-Type1 .dot::before,
  #Account-Type2:checked ~ .Account-Type2 .dot::before{
    background: #fac69e;
    transform: translate(-50%, -50%) scale(1);
  }
  .wrapper .box label .text{
    color: #fac69e;
    font-size: 18px;
    font-weight: 400;
    padding-left: 10px;
    transition: color 0.3s ease;
  }
  #Account-Type1:checked ~ .Account-Type1 .text,
  #Account-Type2:checked ~ .Account-Type2 .text{
    color: #fff;
  }
  .wrapper .box input[type="radio"]{
    display: none;
  }

a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

a:hover{
	color: #fabd8e;
}

button{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #f7c7a2, #fac69e, #fabd8e);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.button:hover{
	background-position: right;
}