@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
	padding: 0;
	margin: 0;
}
body{
	padding: 0;
	margin: 0;
    background-color: white;
    font-family: 'Poppins',sans-serif;
}
/*login start*/
.loginbox{
    width: 450px;
    height: 450px;
    background: #f6cfb2;
    color: #3D0C02;
    top: 15%;
    left: 30%;
    position: absolute;
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10%;
    box-shadow: 15px 15px;
}
.logo{
    width: 180px;
    height: 40px;
    position: absolute;
    top: 25px;
    border-radius: 25%;
}
.avatar{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: absolute;
    top: 75px;
    left: calc(52.5% - 50px);
}
h1{
    margin: 0;
    margin-top: 80px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.loginbox input{
    margin-left: 10%;
    margin-right: 10%;
    width: 75%;
    margin-bottom: 20px;
}
.loginbox input[type="text"]{
    border: none;
    outline: none;
    height: 40px;
    background: white;
    color: black;
    font-size: 18px;
    margin-left: 12.5%;
}
.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: white;
    color: black;
    font-size: 18px;
    margin-left: 30%;
    width: 40%;
}

.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: #E64A4A;
    color: #000;
}
.loginbox a{
    font-size: 12px;
    line-height: 20px;
    color: #34282C;
    margin-left: 45%;
}
.loginbox h5{
    font-size: 12px;
    line-height: 20px;
    color: #34282C;
    margin-left: 32.5%;
}
.loginbox a:hover{
    cursor: pointer;
    background: #E64A4A;
    color: #000;
}
i{
    color: #E64A4A;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 4em;
    margin-left: -2.5%;
    margin-bottom: 20px;
}
/*login ends*/

/*signup start*/
.signupbox{
    width: 450px;
    height: 450px;
    background: #f6cfb2;
    color: #3D0C02;
    top: 15%;
    left: 30%;
    position: absolute;
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10%;
    box-shadow: 15px 15px;
}
.logo{
    width: 180px;
    height: 40px;
    position: absolute;
    top: 25px;
    border-radius: 25%;
}
.avatar{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: absolute;
    top: 75px;
    left: calc(52.5% - 50px);
}
h1{
    margin: 0;
    margin-top: 80px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.signupbox input{
    margin-left: 10%;
    margin-right: 10%;
    width: 75%;
    margin-bottom: 20px;
}
.signupbox input[type="text"]{
    border: none;
    outline: none;
    height: 40px;
    background: white;
    color: black;
    font-size: 18px;
    margin-left: 12.5%;
}
.signupbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: white;
    color: black;
    font-size: 18px;
    margin-left: 35%;
    width: 35%;
}

.signupbox input[type="submit"]:hover{
    cursor: pointer;
    background: #E64A4A;
    color: #000;
}
.signupbox input[type="radio"]{
    border: none;
    outline: none;
    width: 10%;
    margin-left: 25%;
    
}
.signupbox a{
    font-size: 12px;
    line-height: 20px;
    color: #34282C;
    margin-left: 48%;
}
.signupbox h5{
    font-size: 12px;
    line-height: 20px;
    color: #34282C;
    margin-left: 32.5%;
}
.signupbox a:hover{
    cursor: pointer;
    background: #E64A4A;
    color: #000;
}
/*signup ends*/

/*confirm button*/

i{
    color: #E64A4A;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 4em;
    margin-left: -2.5%;
    margin-bottom: 20px;
}

/*confirm button*/

/* upsign start */
.upsignbox{
    width: 600px;
    height: 1125px;
    background: #f6cfb2;
    color: #3D0C02;
    top: 15%;
    left: 25%;
    position: absolute;
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10%;
    box-shadow: 15px 15px;
}
.upsignbox p{
    margin-left: 18.5%;
    font-size: 18px;
}
.upsignbox input{
    width: 70%;
    margin-bottom: 20px;
}
.upsignbox input[type="text"]{
    border: none;
    outline: none;
    height: 40px;
    background: white;
    color: black;
    font-size: 18px;
    margin-left: 15%;
}
.upsignbox input[type="date"]{
    border: none;
    outline: none;
    height: 40px;
    background: white;
    color: black;
    font-size: 18px;
    margin-left: 15%;
}
.upsignbox input[type="checkbox"]{
    border: none;
    outline: none;
    font-size: 14px;
    width: 20%;
    margin-left: 0%;
}
.upsignbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: white;
    color: black;
    font-size: 18px;
    margin-left: 30%;
    width: 35%;
}
.upsignbox input[type="submit"]:hover{
    cursor: pointer;
    background: #E64A4A;
    color: #000;
}
.upsignbox a{
    font-size: 12px;
    line-height: 20px;
    color: #34282C;
    margin-left: 42.5%;
}
.upsignbox h5{
    font-size: 12px;
    line-height: 20px;
    color: #34282C;
    margin-left: 32.5%;
}
.upsignbox a:hover{
    cursor: pointer;
    background: #E64A4A;
    color: #000;
}

/* file upload */
#custom-button {
    padding: 5px;
    color: black;
    background-color: #E64A4A;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20%;
    margin-bottom: 20px;
  }
  
  #custom-button:hover {
    background-color: white;
  }
  
  #custom-text {
    margin-left: 10px;
    font-family: sans-serif;
    color: #aaa;
  }
  /*file upload*/

.upsign i{
    color: #E64A4A;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 4em;
    margin-left: 10%;
    margin-bottom: 20px;
}
/*upsign end*/

/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .search-form{
        width:90%;
    }

    .header .navbar{
        position: absolute;
        top:110%; right:-110%;
        width:30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }

    .header .navbar.active{
        right:2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        font-size: 2rem;
        margin:2rem 2.5rem;
        display: block;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 2.5rem;
    }

    .footer{
        text-align: center;
    }

    .footer .box-container .box .payment-img{
        margin: 2rem auto;
    }

}